footer {
  height: 100%;
  width: 100%;
  grid-row: 4;
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  background-color: #707070;
  /* scroll-snap-align: end; */
  /* font-family: var(--police-light); */
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: var(--font-size2);
}
.container1 ul {
  list-style-type: none;
  padding: 0;
}

.logof {
  justify-content: center;
  height: 60%;
  width: 20%;
  align-items: center;
}
.logof img {
  width: 40%;
  height: auto;
}

.infos,
.logof,
.contacts {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 80%;
}

.infos {
  justify-content: space-around;
  border: 1px solid var(--primary-color);
  border-left: none;
  border-right: none;
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
}
.contacts {
  justify-content: space-around;
  padding-left: 3%;
  padding-right: 3%;
}

.infos > h1,
.contacts > h1 {
  font-size: 18px;
  text-align: center;
  font-family: var(--police-light);
  letter-spacing: 0.1rem;
}
.infos ul li a,
.socials > ul > li,
.contacts ul li a {
  font-size: 1rem;
  font-family: var(--police-light);
  width: fit-content;
  color: var(--primary-color);
}
